# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast

# Dotenv file
.env

# Node
node_modules/
package-lock.json
yarn.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Misc
*[Dd]raft*
*-old.*
archive/
lcov.info
lib/
